.card {
  margin-top: 10px;
  border: none;
  width: 700px;
  max-width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c2340 !important;
  }
